@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

h1, h2, div article p {
  color: white;
}

body {
  background-color: #141c2e;
  font-family: 'Space Mono', monospace;
}

body main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7vh 0;
}

body main section {
  width: 85%;
}

body main section .header-controltheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

body main section .header-controltheme h1 {
  font-size: 1.8rem;
}

body main section .header-controltheme button {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: white;
}

body main section .header-controltheme button i {
  margin-left: 1rem;
}

body main section form {
  background-color: #1f2947;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

body main section form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body main section form div i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #007bff;
}

body main section form div input {
  border: none;
  background: none;
  width: 90%;
  color: #b8becc;
}

body main section form div input::-webkit-input-placeholder {
  color: #b8becc;
}

body main section form div input:-ms-input-placeholder {
  color: #b8becc;
}

body main section form div input::-ms-input-placeholder {
  color: #b8becc;
}

body main section form div input::placeholder {
  color: #b8becc;
}

body main section form div input:focus {
  outline: none;
}

body main section form button {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.8rem 0;
  width: 20%;
}

body main section .dev-info {
  background-color: #1f2947;
  padding: 2rem 7%;
  border-radius: 1rem;
}

body main section .dev-info .dev-info-avatar-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

body main section .dev-info .dev-info-avatar-name img {
  width: 25%;
  border-radius: 50%;
  margin-right: 7%;
}

body main section .dev-info .dev-info-avatar-name div div h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

body main section .dev-info .dev-info-avatar-name div div a {
  color: #007bff;
  text-decoration: none;
}

body main section .dev-info .dev-info-avatar-name div p {
  color: #b8becc;
}

body main section .dev-info > p {
  color: #b8becc;
  line-height: 1.7rem;
  text-align: justify;
}

body main section .dev-info .dev-info-followers {
  background-color: #141c2e;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  padding: 1.5rem 0;
}

body main section .dev-info .dev-info-followers article {
  text-align: center;
  width: 30%;
}

body main section .dev-info .dev-info-followers article h3 {
  color: #b8becc;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

body main section .dev-info .dev-info-followers article p {
  font-weight: 700;
}

body main section .dev-info .dev-info-social-links {
  color: #b8becc;
}

body main section .dev-info .dev-info-social-links div div {
  margin-bottom: 1rem;
  overflow: hidden;
}

body main section .dev-info .dev-info-social-links div div a {
  color: #b8becc;
  text-decoration: none;
}

body main section .dev-info .dev-info-social-links div div i {
  font-size: 1.3rem;
}

@media (min-width: 641px) and (max-width: 1007px) {
  body main section {
    width: 75%;
  }
  body main section form button {
    width: 6.25rem;
  }
  body main section .dev-info .dev-info-avatar-name img {
    width: 7.5rem;
  }
  body main section .dev-info .dev-info-followers article {
    text-align: start;
  }
  body main section .dev-info .dev-info-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section .dev-info .dev-info-social-links div {
    width: 50%;
  }
  body main section .dev-info .dev-info-social-links div div {
    width: 100%;
  }
}

@media (min-width: 1008px) {
  body main {
    height: 100vh;
    margin: 0;
  }
  body main section {
    width: 50%;
  }
  body main section .header-controltheme button {
    cursor: pointer;
  }
  body main section form div input {
    font-size: 1rem;
  }
  body main section form button {
    width: 6.25rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  body main section .dev-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logname logname logname" ". bio bio" ". repos repos" ". social social";
  }
  body main section .dev-info .dev-info-avatar-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: logname;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "avatar nameuser nameuser";
    margin: 0;
  }
  body main section .dev-info .dev-info-avatar-name img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: avatar;
    place-self: center start;
    width: 90%;
    margin: 0;
  }
  body main section .dev-info .dev-info-avatar-name > div {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: nameuser;
    place-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  body main section .dev-info .dev-info-avatar-name > div div {
    width: 45%;
  }
  body main section .dev-info .dev-info-avatar-name > div p {
    width: 45%;
    text-align: right;
  }
  body main section .dev-info p {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: bio;
  }
  body main section .dev-info .dev-info-followers {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: repos;
  }
  body main section .dev-info .dev-info-followers article {
    text-align: start;
  }
  body main section .dev-info .dev-info-social-links {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section .dev-info .dev-info-social-links div {
    width: 50%;
  }
  body main section .dev-info .dev-info-social-links div div {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */