// Colors

// Dark mode

$neutral-bg-color: hsl(222, 40, 13);
$neutral-in-bg-color: hsl(224, 40, 20);

$bigfont-white-color: hsl(0, 0, 100);
$azure-radiance-blue: hsl(211, 100, 50);
$general-grey-font: hsl(222, 16, 76);
$not-avilable-grey: hsl(224, 11, 60);

// Light mode

$neutral-bg-light-color: hsl(222, 100, 98);
$neutral-in-bg-light-color: hsl(0, 0, 100);

$bigfont-grey-color: hsl(231, 8, 31);
$general-grey-light-font-color: hsl(220, 31, 46);

$shadow-color: hsla(231, 8, 31, 0.5);